<mat-card class="example-card">
    <div class="container">

        <legend>Basic Pet Information</legend>
        <form class="add-form" [formGroup]="addform" (ngSubmit)="addPet()" #myForm="ngForm">



            <mat-form-field>
                <mat-label>Pet Name</mat-label>
                <input matInput placeholder="Pet Name" formControlName="name">
                <mat-error *ngIf="addform.get('name')?.touched
                && addform.get('name')?.hasError('required')">
                    name is required</mat-error>
            </mat-form-field>



            <mat-form-field>
                <mat-label>Pet Breed</mat-label>
                <input matInput placeholder="Pet Bread" formControlName="breed">
                <mat-error *ngIf="addform.get('breed')?.touched
                && addform.get('breed')?.hasError('required')">
                    Breed is required</mat-error>
            </mat-form-field>
            
            <!-- <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="M"> <mat-label>Male</mat-label></mat-radio-button>
                <mat-radio-button value="F"> <mat-label>Female</mat-label></mat-radio-button>
              </mat-radio-group>-->
            
            <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="Birth Date" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="addform.get('birthDate')?.touched
                && addform.get('birthDate')?.hasError('required')">
                    Date is required</mat-error>

            </mat-form-field>

            <mat-form-field>
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker2" placeholder="Death Date" formControlName="deathDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="addform.get('deathDate')?.touched
                && addform.get('deathDate')?.hasError('required')">
                    Date is required</mat-error>

            </mat-form-field>

            <nav id="Buttons">

                <button  mat-raised-button color="primary" routerLinkActive="active" type="submit" [disabled]="!myForm.form.valid">Save</button>
                <button id="Cancel" mat-raised-button color="" routerLinkActive="active" routerLink="/Home">Cancel</button>
            </nav>
        </form>
    </div>
</mat-card>